// Custom styles
@import "variables";

// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Font
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,600;0,700;1,400&display=swap");

body {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $white;
    font-family: "Archivo Narrow";
    main {
        flex: 1;
    }
}
h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80px;
    line-height: 85px;
    color: $dark;
}
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 66px;
    text-transform: uppercase;
    color: $dark;
    margin: 20px 0 30px;
}
h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: $dark;
    margin: 20px 0;
}
h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: $dark;
    margin: 20px 0;
}
h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0;
}
p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $gray2;
}
a {
    text-decoration: none;
    color: $dark;
    &:hover {
        color: $orange1;
    }
}

// Optional class
.team-person__card {
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    img {
        width: 100%;
        transition: all 0.3s ease-out;
    }
    &:hover img {
        opacity: 0.6;
    }
}
.header-space__content {
    margin: 71px auto;
}
.social__network {
    border-radius: 50%;
    transition: all 0.2s linear;
    &:hover {
        border-radius: 50%;
        // transform: scale(1.1);
        box-shadow: 0px 1px 5px 2px $gray3;
    }
}
.your-box__opinion {
    padding: 30px;
    background-image: url("../image/fon/Background.jpg");
    background-position: center;
    background-size: cover;
}
.btn__orange {
    @include button;
    color: $white;
    background-color: $orange1;
    border: 1px solid $orange1;
    &:hover {
        background-color: $white;
        border: 1px solid $orange1;
        color: $orange1;
    }
}
.btn-bg__blue {
    @include button;
    color: $white;
    background-color: $blue;
    border: 1px solid $blue;
    &:hover {
        background-color: $white;
        border: 1px solid $blue;
        color: $blue;
    }
}
.btn__blue {
    @include button;
    color: $blue;
    background-color: $white;
    border: 1px solid $blue;
    &:hover {
        background-color: $blue;
        border: 1px solid $blue;
        color: $white;
    }
}
.btn__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: $orange1;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
        color: $blue;
    }
}
.search__btn {
    background-color: $blue;
    border: 1px solid $blue;
    height: 50px;
    padding: 0 14px;
    margin-right: 21px;
    color: $white;
}
.btn__outline {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    text-transform: uppercase;
    color: $dark;
    min-height: 50px;
    min-width: 65px;
    padding: 0 20px;
    border: 1px solid $gray1;
    background-color: $white;
    transition: all 0.3s linear;
    &:hover {
        background-color: $blue;
        color: $white;
    }
    &:focus {
        background-color: $blue;
        color: $white;
    }
    h6 {
        color: $gray3;
    }
}
.btn__play {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s linear;
}
.contact__btn {
    transition: all 0.2s linear;
    &:hover {
        color: $orange1;
    }
}

.height__section {
    height: 882px;
}
.category {
    color: $white;
    background-color: $blue;
    padding: 8px 20px;
    border: 1px solid $blue;
    font-size: 15px;
    line-height: 22px;
}
.line {
    @include line-before;
}
.hr {
    @include hr;
}
.days-hms__dark {
    @include days-hms;
}
.days-hms__blue {
    @include days-hms($blue);
}
.description__subtitle {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $gray2;
}
.input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid $gray1;
    // margin-bottom: 30px;
    outline-color: $blue;
}
.subtitle {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: $gray3;
}
.section {
    margin: 120px auto;
}
.section-padding {
    padding: 120px 0;
}
.line-before__text {
    display: flex;
    align-items: center;
    gap: 20px;
    span {
        @include line-before($blue);
    }
    h6 {
        color: $blue;
    }
}
.line-before__text-orange {
    display: flex;
    align-items: center;
    gap: 20px;
    span {
        @include line-before($orange1);
    }
    h6 {
        color: $orange1;
    }
}
.breadcrumbs {
    display: flex;
    gap: 32px;
    .line {
        margin-top: 13px;
        @include line-before($gray3);
    }
    strong {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        color: $dark;
    }
    b {
        color: $blue;
    }
    p {
        margin-top: 20px;
    }
}
.line-before__description {
    display: flex;
    gap: 32px;
    .line {
        margin-top: 13px;
        @include line-before($gray3);
    }
    p {
        color: $gray2;
    }
}
.light__square {
    display: inline-block;
    min-width: 78px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light;
    border: 1px solid $gray1;
}
.number-section__statistics {
    @include statistics;
    min-width: 270px;
}

// Navbar***
.navbar {
    margin-bottom: 40px;

    .nav-link {
        color: $white;
        background-color: transparent;
        border: none;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        &:hover {
            color: $orange1;
            border-bottom: 2px solid $white;
            padding-bottom: 6px;
        }
        &:focus {
            color: $orange1;
            border-bottom: 2px solid $white;
            padding-bottom: 6px;
        }
    }
    .plus__sign {
        color: $white;
    }
    .dropdown-menu {
        position: absolute;
        left: 80px;
    }
    .dropdown-item:hover {
        color: $orange1;
    }
}
.navbar__dark {
    .navbar-toggler:focus {
        box-shadow: 0 0 2px 3px $white;
    }
}
.navbar__white {
    .nav-link {
        color: $dark;
        &:hover {
            border-bottom: 2px solid $blue;
            padding-bottom: 6px;
        }
        &:focus {
            color: $dark;
            border-bottom: 2px solid $blue;
            padding-bottom: 6px;
        }
        span {
            color: $blue;
        }
    }
    .plus__sign {
        color: $blue;
    }
}

// SECTION

// 404 page
.error__page {
    @include bg-img(url("../image/404/Background404.png"));
}

// Home 1 page header***
.home1-background__img {
    @include bg-img(
        url("../image/fon/passionate-mature-man-giving-speech-at-podium-2021-09-24-04-13-57-utc.jpg"),
        100vh
    );
    .hr {
        @include hr($gray2);
    }
}
.home-header__title {
    span {
        display: inline-block;
        width: 78px;
        height: 9px;
        background-color: $white;
        vertical-align: middle;
    }
    b {
        color: $orange1;
    }
}

// Home 2 page header
.home2-background__img {
    @include bg-img(url("../image/fon/home-2.jpg"), 100vh);
    .search__btn {
        background-color: $white;
        color: $blue;
    }
    h1 {
        font-size: 120px;
        line-height: 110px;
    }
    @media screen and (max-width: 1200px) {
        h1 {
            font-size: 100px;
            line-height: 90px;
        }
    }
    @media screen and (max-width: 768px) {
        h1 {
            font-size: 70px;
            line-height: 60px;
        }
    }
    @media screen and (max-width: 576px) {
        h1 {
            font-size: 50px;
            line-height: 50px;
        }
    }
}

// Vedio section***
.vedio__section {
    padding: 71px 0;
}

// Change section***
.change-section__card {
    padding: 34px 42px 31px 30px;
}

// News section***
.news-section__info {
    p {
        color: $gray3;
        margin-bottom: 8px;
    }
    .hr {
        margin: 40px 0;
    }
}
.news__date {
    color: $gray3;
    margin: 19px 0 0;
}

// Statistics section***
.statistics__section {
    @include statistics($dark, $gray3, 80px, 85px);
}

// Single post info page***
.single-post__info {
    max-width: 860px;
    padding: 0 12px;
    margin: 50px auto 120px;
    .rectangle__outline {
        @include rectangle(5px, 5px);
    }
    .rectangle {
        @include rectangle(7px, 7px, $orange1, $orange1);
    }
    .btn__outline {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: $gray2;
        text-transform: none;
        &:hover {
            color: $white;
        }
    }
    .description__subtitle {
        color: $gray3;
    }
}

// News page***
.news__menu {
    padding: 33px 30px;
    .title {
        color: $blue;
        margin-bottom: 17px;
    }
    .rectangle {
        @include rectangle(5px, 5px);
    }
    li {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: $dark;
        margin-bottom: 14px;
    }
    .description__subtitle {
        color: $gray3;
    }
    .btn__outline {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: $gray2;
        text-transform: none;
        background-color: transparent;
        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
}

// Latest News section***
.news-box__section {
    max-width: 408px;
    position: relative;
    .category {
        position: absolute;
        top: 20px;
        right: 40px;
    }
    .rectangle {
        @include rectangle(5px, 5px);
    }
}
.news__title {
    color: $dark;
    transition: all 0.2s linear;
    &:hover {
        color: $orange1;
    }
}

// Social Sciences section***
.social-bg__section {
    @include bg-img(url("../image/fon/social.png"));
    padding: 144px 0;
}

// Welcome Event section***
.welcome-event__section {
    @include bg-img(url("../image/fon/welcome.jpg"));
    padding: 360px 30px 30px 0;
}
.welcome-event__section-details {
    h6 {
        width: 110px;
    }
}

// Agenda And Schedule section***
.agenda__section {
    background-color: $orange1;
    h5 {
        color: $white;
        font-size: 25px;
        line-height: 34px;
    }
}
.agenda__section-color {
    color: $gray3;
}

// Conference on Future***
.conference__future {
    @include bg-img(url("../image/fon/conference.jpg"));
    padding: 144px 0;
}
.conference-space__future {
    margin: 60px auto 120px;
}

// Event section***
.events__block {
    h6 {
        color: $orange1;
    }
    .line {
        background-color: $gray1;
    }
}
.events-section {
    transition: all 0.3s linear;
    &:hover {
        background-color: $blue;
        h6 {
            color: $light;
        }
        h5 {
            color: $white;
        }
        p {
            color: $light;
        }
        .line {
            background-color: $light;
        }
        .btn__blue {
            background-color: $orange1;
            color: $white;
            &:hover {
                background-color: $white;
                border-color: $orange1;
                color: $orange1;
            }
        }
    }
}

// More about section***
.year__section {
    background-color: $light;
    padding: 118px 0 77px;
    .year {
        height: 1px;
        background-color: $orange1;
        position: relative;
    }
    .span {
        position: absolute;
        top: -13px;
    }
    .radio {
        appearance: none;
    }
    .radio::after {
        content: "";
        @include rectangle;
    }
    .radio:checked::after {
        background-color: $orange1;
    }
    label {
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
        text-transform: uppercase;
        color: $dark;
        cursor: pointer;
        position: absolute;
        top: -30px;
        left: 0;
        margin: 0;
    }
    .year__2000 {
        left: 10%;
    }
    .year__2005 {
        left: 26%;
    }
    .year__2010 {
        left: 45%;
    }
    .year__2015 {
        left: 60%;
    }
    .year__2022 {
        left: 77%;
    }
    // .bg__select {
    //     background-color: $orange1;
    // }
}
.more-section__block {
    margin: 60px 0 0;

    .rectangle {
        @include rectangle(7px, 7px, $blue, $blue);
    }
}

// Plan public safety***
.plan-public__safety {
    li h6 {
        text-transform: none;
    }
}

// Team person section***
.team-person__section {
    p {
        margin: 30px 0 10px;
        color: $orange1;
    }
}

// Our mission***
.our__mission {
    height: 915px;
    .our__mission-block {
        max-width: 630px;
    }
}
.our-bg__section {
    min-height: 800px;
    @include bg-img(url("../image/fon/grateful-candidate-holding-hand-on-chest-while-sta-2023-01-30-23-53-46-utc.jpg"));
    background-position: top;
}

// Knowledge section ****
.knowledge__section {
    background-color: $orange1;
    padding: 120px 0;

    h4 {
        margin: 60px 0 30px;
    }
    .h6 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: $gray3;
        margin: 0;
    }
}

// Volunteer section***
.form__description {
    font-size: 14px;
    line-height: 20px;
    color: $gray3;
    margin-top: 30px;
}
.volunteer__form {
    .label {
        font-family: "Archivo Narrow";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        color: $dark;
        margin-bottom: 5px;
    }

    .btn {
        width: 100%;
        &:hover {
            color: $orange1;
        }
    }
}

// carousel***
.team-btn__section {
    display: flex;
    gap: 25px;
    button {
        height: 78px;
        width: 78px;
        cursor: pointer;
        text-align: center;
        background-color: $orange1;
        color: $white;
        border: none;
    }
    .btn__disabled {
        cursor: not-allowed;
        background-color: $light;
        color: $orange1;
    }
}
.team__section {
    max-width: 1920px;
    position: relative;
    .carousel {
        font-size: 0;
        white-space: nowrap;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    .ui-card {
        display: inline-block;
        width: calc(100% / 3.9);
        height: 445px;
        margin-left: 32px;
        background: radial-gradient(#111 50%, #000 100%);
        overflow: hidden;
        position: relative;
    }
    .team-name__section {
        position: absolute;
        bottom: 20px;
        left: 30px;
        opacity: 0;
        transition: all 0.5s ease-out;
        h6 {
            color: $orange1;
            text-transform: none;
        }
        h5 {
            color: $white;
        }
    }
    .carousel img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .ui-card img {
        transition: all 0.3s ease-out;
    }
    .carousel div:first-child {
        margin-left: 0;
    }
    .ui-card:hover img {
        opacity: 0.4;
    }
    .ui-card:hover .team-name__section {
        opacity: 1;
    }
}
@media screen and (max-width: 900px) {
    .team__section {
        .ui-card {
            width: calc(100% / 2);
        }
    }
}
@media screen and (max-width: 550px) {
    .team__section {
        .ui-card {
            width: 100%;
        }
    }
}

// Accordion***
.accordion__section {
    .bg {
        background-color: $blue;
        color: $white;
        h4 {
            color: $white;
        }
    }
    .colorText {
        color: $orange1;
        h5 {
            color: $orange1;
        }
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    i {
        font-size: 42px;
        line-height: 42px;
    }

    .description {
        height: 0;
        margin: 0 auto;
        color: $gray2;
        transition: all 0.2s linear;
    }
}
@media screen and (max-width: 768px) {
    .accordion__section {
        i {
            font-size: 22px;
            line-height: 22px;
        }
    }
}

// Statistics info section***
.statistics__info {
    padding-top: 71px;
    padding-bottom: 71px;
    h6 {
        color: $gray2;
        text-transform: none;
    }
}

// Volunteer section****
.volunteer__box-one {
    .volunteer__img {
        margin-top: 60px;
    }
}
.volunteer__box-two {
    .volunteer__img {
        margin-bottom: 40px;
    }
    h5 {
        margin-bottom: 10px;
    }
}

// At events section***
.at-events__section {
    h6 {
        color: $orange1;
        margin-top: 23px;
    }
    h5 {
        margin: 12px 0;
    }
}

// Latest News section***
.latest__politit-news {
    .box {
        position: relative;
    }
    .category {
        position: absolute;
        left: 0;
    }
    h6 {
        color: $gray3;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
    }
    h5 {
        margin: 15px 0 53px;
        min-width: 264px;
    }
}

// Statistics section***
.statistics-bg__section {
    background-color: $blue;
    padding: 71px 0;
}

//  Our mission about***
.our__mission {
    @include bg-img(
        url("../image/fon/grateful-candidate-holding-hand-on-chest-while-sta-2023-01-30-23-53-46-utc2.png")
    );
    background-position: left;
    background-size: contain;

    .row {
        height: 670px;
    }
}
.progress {
    height: 10px;
}
.progress-89 {
    width: 89%;
}
.progress-95 {
    width: 95%;
}
.progress-96 {
    width: 96%;
}
@media screen and (max-width: 1200px) {
    .our__mission {
        background-position: center;
        background-size: cover;
    }
}

// My experience section
.my__experience {
    .line {
        background-color: $orange1;
    }
}

// Footer***
.footer__bg {
    .hr {
        @include hr($gray2);
    }
    .footer__content {
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        text-transform: uppercase;
        color: #ffffff;
    }
    .footer__contact {
        color: $light;
        transition: all 0.2s linear;
        &:hover {
            color: $orange1;
        }
    }
    .footer__footer {
        font-size: 15px;
        color: $light;
        margin: 30px 0;
    }
}
.footer__contact-icon {
    min-width: 170px;
}

// Media
@media screen and (max-width: 1400px) {
    .navbar {
        .nav-link {
            font-size: 16px;
        }
    }
    .btn__outline {
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 60px;
        line-height: 65px;
    }
    h2 {
        font-size: 45px;
        line-height: 46px;
    }
    h4 {
        font-size: 30px;
        line-height: 36px;
    }
    h5 {
        font-size: 24px;
        line-height: 28px;
        margin: 10px 0;
    }
    h6 {
        font-size: 16px;
        line-height: 20px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
    }
    .navbar {
        .nav-link {
            font-size: 14px;
        }
    }
    .statistics__section {
        font-size: 67px;
        line-height: 70px;
    }
    .knowledge__section {
        .h6 {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .btn__outline {
        font-size: 18px;
        line-height: 26px;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
        line-height: 55px;
    }
    h2 {
        font-size: 35px;
        line-height: 36px;
    }
    h4 {
        font-size: 23px;
        line-height: 31px;
    }
    h5 {
        font-size: 18px;
        line-height: 20px;
        margin: 10px 0;
    }
    h6 {
        font-size: 12px;
        line-height: 16px;
    }
    p {
        font-size: 12px;
        line-height: 17px;
    }
    .number-section__statistics {
        font-size: 37px;
        line-height: 40px;
    }
    .knowledge__section {
        .h6 {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

// Calendar

.calendar {
    width: 21rem;
    background-color: transparent;
    border: 1px solid $gray1;

    .btn__text {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        color: $gray3;
    }
}

.month {
    width: 100%;
    background-color: transparent;
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}

.month h6 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: $dark;
}

.weekdays {
    width: 100%;
    height: 2.6rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1d1d1d;
    width: calc(20.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
    color: $gray2;
}

.days div {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    width: calc(19.9rem / 7);
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: $blue;
    color: $white;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0;
}

.today {
    background-color: $blue;
    color: $white;
}

@media screen and (max-width: 1200px) {
    .calendar {
        transform: scaleX(0.8);
        translate: -40px;
    }
}
@media screen and (max-width: 768px) {
    .calendar {
        transform: scaleX(1);
        translate: 0px;
    }
}
@media screen and (max-width: 381px) {
    .calendar {
        transform: scaleX(0.7);
        translate: -50px;
    }
}
